body {
    font-family: 'ヒラギノ角ゴシック', 'Noto Sans JP', Helvetica, Arial, sans-serif;
}

html{
    background-color: $bg-color;
    color: $text-color;
}
td, tr{
    color: $text-color;
}
.form-control::placeholder {
    color: #aaa;
}

.form-control, .form-select{
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    border-radius: 9px;
    &:focus{
        outline: none;
        box-shadow: inset 0px -1px $bg-color;
        border: 1px solid $bg-color;
    }
}

@mixin form-v-group-notlast($minWidth: 0px){
    @media screen and (min-width: $minWidth) {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin: -1px 0px 0px;
    }
}
@mixin form-v-group-notfirst($minWidth: 0px){
    @media screen and (min-width: $minWidth) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@each $key, $value in $widthList{
    .form-v-group-#{$key}>*:not(:first-child){
        & .form-control,& .form-select{
            @include form-v-group-notlast($value);
        }
    }
    .form-v-group-#{$key}>*:not(:last-child){
        & .form-control,& .form-select{
            @include form-v-group-notfirst($value);
        }
    }
}

.form-v-group>*:not(:first-child){
    & .form-control,& .form-select{
        @include form-v-group-notlast(0px);
    }
}
.form-v-group>*:not(:last-child){
    & .form-control,& .form-select{
        @include form-v-group-notfirst(0px);
    }
}

.round-group-left{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.round-group-mid{border-radius: 0px !important;}
.round-group-right{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.round-group-top{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.round-group-bottom{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.btn{
    border-radius: 9px;
    &:focus{
        outline: none;
        box-shadow: none;
        border: none;
    }
}

@each $name, $color in $gvlight-color8{
    .btnx-gv-#{$name}{
        color: $text-color;
        background-color: nth($color,1);
        &:hover{
        background-color:nth($color,2);
        color: $text-color;
        }
        &:focus{
            border: 1px solid #e7e7e7;
        }
    }
}

.btnx-tab{
    color: $text-color;
    border: 0px solid $text-color;
    border-radius: 0rem;
    &:hover{
      background-color: $bg-color;
      color: $text-color;
    }
}
.btnx-menu{
    margin: 0px 0px 6px;
    color: $text-color;
    background-color: $bg-color;
    border: 0px solid $text-color;
    border-radius: 9px;
    &:hover{
      background-color: #757184;
      color: $text-color;
    }
}

.btn-check+.btnx-clear-gv-gray{
    color: $text-color;
    //background-color: map-get($gvdark-colors,gray);
    border: 1px solid map-get($gvdark-colors,gray);
    &:hover{
        color: $text-color;
        border: 1px solid map-get($gvdark-colors,gray);
    }
}
.btn-check:checked+.btnx-clear-gv-gray{
    color: $text-color;
    background-color: map-get($gvdark-colors,gray);
    border: none;
    margin: 1px;
}

.modal-content{
    background-color: $bg_light-color;
    border-radius: 1em;
}

.modal-header{
    background-color: $bg-color;
    border-bottom-color: $bg_lighter-color;
    box-shadow: inset 0px -6px $bg-lighter-color;
}
.modal-footer{
    border-top-color: $bg_lighter-color;
}